.allExercises {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(138, 99, 210, 0.9); */
    background-image: linear-gradient(
        176deg,
        rgba(16, 16, 37, 0.8) 27%,
        rgba(48, 12, 28, 0.8) 58%,
        rgba(155, 28, 72, 0.8) 100%
    );
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    z-index: 200;

    animation: fadeIn 0.2s ease;
}

.exercisesWrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* .exercisesWrap h3 {
    margin: 0 0 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.4);
    color: #fffff;
    text-align: center;
} */

.exerciseList {
    list-style: none;
    margin: 0;
    padding: 0 0 0.75rem;
    /* display: grid; */
    /* grid-template-rows: repeat(1, 1fr); */
    /* height: 420px; */
    /* grid-auto-flow: column; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; */
}

@media (min-width: 500px) {
    .exerciseList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .exerciseList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* .exerciseList::-webkit-scrollbar {
    display: none;
} */

/* .filtersWrapper {
    composes: glass from global;
    padding: 1rem 1.25rem;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
}

.filterTitle {
    display: flex;
    gap: 3px;
    align-items: center;
}

@media (min-width: 500px) {
    .filters {
        flex-direction: row;
    }
    .filtersWrapper {
        position: sticky;
        top: 4rem;
        z-index: 1;
    }
} */

/* @media (min-width: 768px) {
  .filterResWrap h3 {
    margin: 0;
  }
} */
