.nav {
    width: 100%;
    max-width: 600px;
}

.navList {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navLink {
    text-decoration: none;
}

.navLinkDisabled {
    text-decoration: none;
    opacity: 0.5;
    pointer-events: none;
}

.navLinkDisabled svg,
.navLinkDisabled .navText {
    opacity: 0.5;
}

.navItem {
    padding: 0.8rem;
    background-color: rgba(40, 44, 68, 0);
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

.navItem:has(.navLinkActive) {
    background-color: rgba(40, 44, 68, 0.3);
}

.navLinkActive {
    text-decoration: none;
}

.navLink svg,
.navLinkDisabled svg,
li:has(.navLinkActive) svg {
    width: 15px;
    height: auto;
    color: #fff;
    transition: color 0.3s ease;
}

.navText {
    font-size: 0.7rem;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.navText,
li:has(.navLinkActive) .navText {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 380px) {
    .navLink svg,
    .navLinkDisabled svg,
    li:has(.navLinkActive) svg {
        width: 25px;
        height: auto;
        color: #fff;
        transition: color 0.3s ease;
    }
}

@media (min-width: 768px) {
    .navLink svg {
        width: 30px;
    }
}
