.nav {
    width: 100%;
    max-width: 600px;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.navLink {
    text-decoration: none;
}

.navLinkDisabled {
    text-decoration: none;
    opacity: 0.5;
    pointer-events: none;
}

.navLink svg,
.navLinkDisabled svg {
    width: 25px;
    height: auto;
    color: #fff;
    transition: color 0.3s ease;
}

@media (min-width: 768px) {
    .navLink svg {
        width: 30px;
    }
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.navText {
    font-size: 1rem;
    color: #fff;
}
